name: Run release build from tag

on:
  push:
    tags:
      - '**'

jobs:
    build:
        permissions:
            checks: write
            pull-requests: write
            contents: read
        environment: CIRelease
        runs-on: ubuntu-latest
        steps:
            - name: Setup
              uses: IntershopCommunicationsAG/.github/actions/gradle-plugin-setup@v2
            - name: Release
              uses: IntershopCommunicationsAG/.github/actions/gradle-plugin-release@v2
              with:
                  signing-file: ${{ secrets.SIGNINGFILE }}
                  signing-key-id: ${{ secrets.SIGNINGKEYID }}
                  signing-password: ${{ secrets.SIGNINGPASSWORD }}
                  api-key: ${{ secrets.APIKEY }}
                  api-secret: ${{ secrets.APISECRET }}
                  sonatype-user: ${{ secrets.SONATYPEUSER }}
                  sonatype-password: ${{ secrets.SONATYPEPASSWORD }}
                  publish-tasks: publishIntershopMvnPublicationToMavenRepository
