name: tryout

on:
    push:
        branches:
            - '**'
jobs:
    build:
        permissions:
            checks: write
            pull-requests: write
            contents: read
        environment: CIRelease
        runs-on: ubuntu-latest
        steps:
            - name: Setup
              uses: IntershopCommunicationsAG/.github/actions/gradle-plugin-setup@v0.4
            - name: Get the version
              id: get_version
              run: |
                echo GITHUB_REF=${GITHUB_REF}
                echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
